__pycache__
*.py[cod]
*$py.class
/venv
/logs
/version

!/config/bot.json
!/config/shared.json
!/config/en_US.json
/config/*.json
/config/backups

!/lang/bot.json
!/lang/shared.json
!/lang/en_US.json
/lang/*.json
